In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn

%matplotlib inline

## 데이터 불러오기

In [56]:
crime_place_20 = pd.read_csv('data/발생장소_2020.csv', encoding='cp949')
crime_place_21 = pd.read_csv('data/발생장소_2021.csv', encoding='cp949')
crime_place_22 = pd.read_csv('data/발생장소_2022.csv', encoding='cp949')

crime_area_20 = pd.read_csv('data/발생지역_2020.csv', encoding='cp949')
crime_area_21 = pd.read_csv('data/발생지역_2021.csv', encoding='cp949')
crime_area_22 = pd.read_csv('data/발생지역_2022.csv', encoding='cp949')

crime_time_18 = pd.read_csv('data/발생시간대_요일_2018.csv', encoding='cp949')
crime_time_19 = pd.read_csv('data/발생시간대_요일_2019.csv', encoding='cp949')

crime_pop_21 = pd.read_csv('data/지역별 성별 연령별 주민등록 인구수_21.csv', encoding='cp949')
crime_pop_22 = pd.read_csv('data/지역별 성별 연령별 주민등록 인구수_22.csv', encoding='cp949')

- '범죄대분류'를 기준으로 중복된 칼럼 값 합침
- 전체 value 합산하여 'SUM' 으로 저장

In [57]:
dataframes_area = [crime_area_20, crime_area_21, crime_area_22]
exclude_columns = ['범죄대분류']

# 지역별 범죄발생 건수 통합 행 추가 및 '범죄대분류' 기준 그룹화
for i, df in enumerate(dataframes_area):
    # '범죄중분류' 칼럼 삭제
    df.drop(columns=['범죄중분류'], inplace=True)
    
    # '범죄대분류'를 기준으로 그룹화하여 '발생건수' 합계 계산
    df_grouped = df.groupby('범죄대분류', as_index=False).sum()

    # 모든 열을 합산하여 'SUM' 행 추가
    sum_row_grouped = df_grouped.drop(columns='범죄대분류').sum()
    sum_row_grouped['범죄대분류'] = 'SUM'
    
    df_grouped.loc['SUM'] = sum_row_grouped
    
    # 변경된 데이터프레임을 다시 리스트에 반영
    dataframes_area[i] = df_grouped
    

crime_area_20, crime_area_21, crime_area_22 = dataframes_area

In [67]:
crime_area_20.to_csv('pre_data/crime_area_20.csv', encoding='cp949', index=False)
crime_area_21.to_csv('pre_data/crime_area_21.csv', encoding='cp949', index=False)
crime_area_22.to_csv('pre_data/crime_area_22.csv', encoding='cp949', index=False)

In [59]:
dataframes_place = [crime_place_20, crime_place_21, crime_place_22]
exclude_columns = ['범죄대분류']

# 지역별 범죄발생 건수 통합 행 추가 및 '범죄대분류' 기준 그룹화
for i, df in enumerate(dataframes_place):
    # '범죄중분류' 칼럼 삭제
    df.drop(columns=['범죄중분류'], inplace=True)
    
    # '범죄대분류'를 기준으로 그룹화하여 '발생건수' 합계 계산
    df_grouped = df.groupby('범죄대분류', as_index=False).sum()

    # 모든 열을 합산하여 'SUM' 행 추가
    sum_row_grouped = df_grouped.drop(columns='범죄대분류').sum()
    sum_row_grouped['범죄대분류'] = 'SUM'
    
    df_grouped.loc['SUM'] = sum_row_grouped
    
    # 변경된 데이터프레임을 다시 리스트에 반영
    dataframes_place[i] = df_grouped
    

crime_place_20, crime_place_21, crime_place_22 = dataframes_place

In [68]:
crime_place_20.to_csv('pre_data/crime_place_20.csv', encoding='cp949', index=False)
crime_place_21.to_csv('pre_data/crime_place_21.csv', encoding='cp949', index=False)
crime_place_22.to_csv('pre_data/crime_place_22.csv', encoding='cp949', index=False)

In [72]:
df = pd.read_csv('pre_data/crime_area_20.csv', encoding='cp949', index_col=0)
df.T

범죄대분류,강력범죄,교통범죄,기타범죄,노동범죄,마약범죄,병역범죄,보건범죄,선거범죄,안보범죄,절도범죄,지능범죄,특별경제범죄,폭력범죄,풍속범죄,환경범죄,SUM
서울,6246,50895,41026,55,2154,748,3937,201,124,38296,82443,11539,48308,4805,39,290816
부산,1593,18201,21878,18,865,205,1713,64,5,14189,36784,3633,19086,1461,400,120095
대구,917,19005,7875,12,285,174,315,18,7,8675,19812,1869,12278,918,11,72171
인천,1524,16771,15504,9,759,288,733,29,13,8991,24407,2990,17798,1292,149,91257
광주,629,12432,4770,8,126,87,348,30,2,4939,10777,1161,7360,505,5,43179
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
경남 통영,66,1245,1442,1,17,16,41,3,0,478,1179,90,931,39,24,5572
제주 서귀포,103,1904,1888,6,9,29,25,8,1,1155,1451,183,1344,57,5,8168
제주 제주,347,4632,3354,34,19,49,106,20,0,2270,4719,711,3997,215,11,20484
기타도시,43,129,3327,3,135,60,60,10,13,24,13860,893,365,629,41,19592
도시이외,1383,27287,26459,44,925,247,661,84,4,9279,18917,2005,15116,1015,707,104133