In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn

%matplotlib inline

## 데이터 불러오기

In [9]:
crime_place_20 = pd.read_csv('data/발생장소_2020.csv', encoding='cp949')
crime_place_21 = pd.read_csv('data/발생장소_2021.csv', encoding='cp949')
crime_place_22 = pd.read_csv('data/발생장소_2022.csv', encoding='cp949')

crime_area_20 = pd.read_csv('data/발생지역_2020.csv', encoding='cp949')
crime_area_21 = pd.read_csv('data/발생지역_2021.csv', encoding='cp949')
crime_area_22 = pd.read_csv('data/발생지역_2022.csv', encoding='cp949')

crime_time_18 = pd.read_csv('data/발생시간대_요일_2018.csv', encoding='cp949')
crime_time_19 = pd.read_csv('data/발생시간대_요일_2019.csv', encoding='cp949')

crime_pop_21 = pd.read_csv('data/지역별 성별 연령별 주민등록 인구수_21.csv', encoding='cp949')
crime_pop_22 = pd.read_csv('data/지역별 성별 연령별 주민등록 인구수_22.csv', encoding='cp949')
crime_pop = pd.read_csv('data/행정구역별 인구수.csv', encoding='cp949', index_col=0)

- '범죄대분류'를 기준으로 중복된 칼럼 값 합침
- 전체 value 합산하여 'SUM' 으로 저장

In [57]:
dataframes_area = [crime_area_20, crime_area_21, crime_area_22]
exclude_columns = ['범죄대분류']

# 지역별 범죄발생 건수 통합 행 추가 및 '범죄대분류' 기준 그룹화
for i, df in enumerate(dataframes_area):
    # '범죄중분류' 칼럼 삭제
    df.drop(columns=['범죄중분류'], inplace=True)
    
    # '범죄대분류'를 기준으로 그룹화하여 '발생건수' 합계 계산
    df_grouped = df.groupby('범죄대분류', as_index=False).sum()

    # 모든 열을 합산하여 'SUM' 행 추가
    sum_row_grouped = df_grouped.drop(columns='범죄대분류').sum()
    sum_row_grouped['범죄대분류'] = 'SUM'
    
    df_grouped.loc['SUM'] = sum_row_grouped
    
    # 변경된 데이터프레임을 다시 리스트에 반영
    dataframes_area[i] = df_grouped
    

crime_area_20, crime_area_21, crime_area_22 = dataframes_area

In [67]:
crime_area_20.to_csv('pre_data/crime_area_20.csv', encoding='cp949', index=False)
crime_area_21.to_csv('pre_data/crime_area_21.csv', encoding='cp949', index=False)
crime_area_22.to_csv('pre_data/crime_area_22.csv', encoding='cp949', index=False)

In [59]:
dataframes_place = [crime_place_20, crime_place_21, crime_place_22]
exclude_columns = ['범죄대분류']

# 지역별 범죄발생 건수 통합 행 추가 및 '범죄대분류' 기준 그룹화
for i, df in enumerate(dataframes_place):
    # '범죄중분류' 칼럼 삭제
    df.drop(columns=['범죄중분류'], inplace=True)
    
    # '범죄대분류'를 기준으로 그룹화하여 '발생건수' 합계 계산
    df_grouped = df.groupby('범죄대분류', as_index=False).sum()

    # 모든 열을 합산하여 'SUM' 행 추가
    sum_row_grouped = df_grouped.drop(columns='범죄대분류').sum()
    sum_row_grouped['범죄대분류'] = 'SUM'
    
    df_grouped.loc['SUM'] = sum_row_grouped
    
    # 변경된 데이터프레임을 다시 리스트에 반영
    dataframes_place[i] = df_grouped
    

crime_place_20, crime_place_21, crime_place_22 = dataframes_place

In [68]:
crime_place_20.to_csv('pre_data/crime_place_20.csv', encoding='cp949', index=False)
crime_place_21.to_csv('pre_data/crime_place_21.csv', encoding='cp949', index=False)
crime_place_22.to_csv('pre_data/crime_place_22.csv', encoding='cp949', index=False)

- transfer

In [9]:
df = pd.read_csv('pre_data/crime_area_20.csv', encoding='cp949', index_col=0)
data = df.T
data.to_csv('pre_data/crime_area_20_T.csv', encoding='cp949')

In [5]:
df1 = pd.read_csv('pre_data/crime_area_21.csv', encoding='cp949', index_col=0)
data1 = df1.T
data1.to_csv('pre_data/crime_area_21_T.csv', encoding='cp949')
df2 = pd.read_csv('pre_data/crime_area_22.csv', encoding='cp949', index_col=0)
data2 = df2.T
data2.to_csv('pre_data/crime_area_22_T.csv', encoding='cp949')

In [6]:
df = pd.read_csv('pre_data/crime_place_20.csv', encoding='cp949', index_col=0)
data = df.T
data.to_csv('pre_data/crime_place_20_T.csv', encoding='cp949')
df1 = pd.read_csv('pre_data/crime_place_21.csv', encoding='cp949', index_col=0)
data1 = df1.T
data1.to_csv('pre_data/crime_place_21_T.csv', encoding='cp949')
df2 = pd.read_csv('pre_data/crime_place_22.csv', encoding='cp949', index_col=0)
data2 = df2.T
data2.to_csv('pre_data/crime_place_22_T.csv', encoding='cp949')

- 범죄종류, 범죄 발생 장소, 범죄 발생 지역

In [7]:
df.index

Index(['강력범죄', '교통범죄', '기타범죄', '노동범죄', '마약범죄', '병역범죄', '보건범죄', '선거범죄', '안보범죄',
       '절도범죄', '지능범죄', '특별경제범죄', '폭력범죄', '풍속범죄', '환경범죄', 'SUM'],
      dtype='object', name='범죄대분류')

In [8]:
df.columns

Index(['아파트-연립다세대', '단독주택', '고속도로', '노상', '백화점', '슈퍼마켓', '편의점', '대형할인매장', '상점',
       '시장-노점', '숙박업소-목욕탕', '유흥접객업소', '사무실', '공장', '공사장-광산', '창고', '역-대합실',
       '지하철', '기타표통수단내', '흥행장', '유원지', '학교', '금융기관', '의료기관', '종교기관', '산야',
       '해상', '부대', '구금장소', '공지', '주차장', '공중화장실', '피씨방', '기타'],
      dtype='object')

In [11]:
df.columns

Index(['서울', '부산', '대구', '인천', '광주', '대전', '울산', '세종', '경기 고양', '경기 과천',
       '경기 광명', '경기 광주', '경기 구리', '경기 군포', '경기 김포', '경기 남양주', '경기 동두천',
       '경기 부천', '경기 성남', '경기 수원', '경기 시흥', '경기 안산', '경기 안성', '경기 안양', '경기 양주',
       '경기 여주', '경기 오산', '경기 용인', '경기 의왕', '경기 의정부', '경기 이천', '경기 파주', '경기 평택',
       '경기 포천', '경기 하남', '경기 화성', '강원 강릉', '강원 동해', '강원 삼척', '강원 속초', '강원 원주',
       '강원 춘천', '강원 태백', '충북 제천', '충북 청주', '충북 충주', '충남 계룡', '충남 공주', '충남 논산',
       '충남 당진', '충남 보령', '충남 서산', '충남 아산', '충남 천안', '전북 군산', '전북 김제', '전북 남원',
       '전북 익산', '전북 전주', '전북 정읍', '전남 광양', '전남 나주', '전남 목포', '전남 순천', '전남 여수',
       '경북 경산', '경북 경주', '경북 구미', '경북 김천', '경북 문경', '경북 상주', '경북 안동', '경북 영주',
       '경북 영천', '경북 포항', '경남 거제', '경남 김해', '경남 밀양', '경남 사천', '경남 양산', '경남 진주',
       '경남 창원', '경남 통영', '제주 서귀포', '제주 제주', '기타도시', '도시이외'],
      dtype='object')

### 인구 데이터 전처리

In [10]:
crime_pop

,2021,2021.1,2021.2,2021.3,2021.4,2021.5,2022,2022.1,2022.2,2022.3,2022.4,2022.5,2023,2023.1,2023.2,2023.3,2023.4,2023.5
행정구역별(읍면동),,,,,,,,,,,,,,,,,,
행정구역별(읍면동),총인구 (명),남자 (명),여자 (명),내국인-계 (명),내국인-남자 (명),내국인-여자 (명),총인구 (명),남자 (명),여자 (명),내국인-계 (명),내국인-남자 (명),내국인-여자 (명),총인구 (명),남자 (명),여자 (명),내국인-계 (명),내국인-남자 (명),내국인-여자 (명)
서울,9472127,4584251,4887876,9125047,4421687,4703360,9417469,4547051,4870418,9056522,4381802,4674720,9384512,4523958,4860554,9018373,4357962,4660411
부산,3324335,1624745,1699590,3271001,1596087,1674914,3295760,1608947,1686813,3239787,1578621,1661166,3279604,1600281,1679323,3216548,1565303,1651245
대구,2387911,1177420,1210491,2350955,1158350,1192605,2366852,1165698,1201154,2328003,1145462,1182541,2379188,1170854,1208334,2335997,1147899,1188098
인천,2957044,1482202,1474842,2856665,1427672,1428993,2989125,1499105,1490020,2878924,1438975,1439949,3025950,1518154,1507796,2903900,1450848,1453052
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
경남거제,242426,128937,113489,234311,123500,110811,236686,125420,111266,228887,120120,108767,238671,128439,110232,225985,118480,107505
경남양산,352610,177013,175597,344405,171980,172425,352842,177197,175645,344180,171784,172396,355411,178788,176623,345762,172519,173243
경남창원,1025702,521016,504686,1007162,510117,497045,1016751,516307,500444,997563,505016,492547,1007142,511742,495400,985272,498311,486961
제주제주,493869,247944,245925,476970,238636,238334,495281,248647,246634,477808,238732,239076,495553,248922,246631,476200,237724,238476
제주서귀포,179238,90865,88373,170927,85885,85042,181094,92018,89076,172417,86590,85827,181214,92561,88653,171743,86391,85352

In [11]:
crime_pop.index

Index(['행정구역별(읍면동)', '서울', '부산', '대구', '인천', '광주', '대전', '울산', '세종', '경기수원',
       '경기성남', '경기의정부', '경기안양', '경기부천', '경기광명', '경기평택', '경기동두천', '경기안산',
       '경기고양', '경기과천', '경기구리', '경기남양주', '경기오산', '경기시흥', '경기군포', '경기의왕', '경기하남',
       '경기용인', '경기파주', '경기이천', '경기안성', '경기김포', '경기화성', '경기광주', '경기양주', '경기포천',
       '경기여주', '강원춘천', '강원원주', '강원강릉', '강원동해', '강원태백', '강원속초', '강원삼척', '충북충주',
       '충북제천', '충북청주', '충남천안', '충남공주', '충남보령', '충남아산', '충남서산', '충남논산', '충남계룡',
       '충남당진', '전북전주', '전북군산', '전북익산', '전북정읍', '전북남원', '전북김제', '전남목포', '전남여수',
       '전남순천', '전남나주', '전남광양', '경북포항', '경북경주', '경북김천', '경북안동', '경북구미', '경북영주',
       '경북영천', '경북상주', '경북문경', '경북경산', '경남진주', '경남통영', '경남사천', '경남김해', '경남밀양',
       '경남거제', '경남양산', '경남창원', '제주제주', '제주서귀포'],
      dtype='object', name='행정구역별(읍면동)')