In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn

%matplotlib inline

## 데이터 불러오기

In [16]:
crime_place_20 = pd.read_csv('data/발생장소_2020.csv', encoding='cp949')
crime_place_21 = pd.read_csv('data/발생장소_2021.csv', encoding='cp949')
crime_place_22 = pd.read_csv('data/발생장소_2022.csv', encoding='cp949')

crime_area_20 = pd.read_csv('data/발생지역_2020.csv', encoding='cp949')
crime_area_21 = pd.read_csv('data/발생지역_2021.csv', encoding='cp949')
crime_area_22 = pd.read_csv('data/발생지역_2022.csv', encoding='cp949')

crime_time_18 = pd.read_csv('data/발생시간대_요일_2018.csv', encoding='cp949')
crime_time_19 = pd.read_csv('data/발생시간대_요일_2019.csv', encoding='cp949')

In [17]:
print(crime_place_20.head())
print(crime_place_21.head())
print(crime_place_22.head())

  범죄대분류  범죄중분류  아파트-연립다세대  단독주택  고속도로   노상  백화점  슈퍼마켓  편의점  대형할인매장  ...  종교기관  \
0  강력범죄   살인기수        111    80     0   42    0     0    0       0  ...     3
1  강력범죄  살인미수등         99    92     0   96    0     1    1       1  ...     1
2  강력범죄     강도         77    54     1  164    1    17   68       1  ...     1
3  강력범죄     강간       1516   958     3  157    0     0    5       0  ...    10
4  강력범죄   유사강간        229   131     0   43    0     0    3       0  ...     2

   산야  해상  부대  구금장소  공지  주차장  공중화장실  피씨방   기타
0   5   0   0     0   1    2      1    0   20
1   2   3   0     0   0   11      1    0   28
2   4   0   0     0   0   19      0    3   34
3  12   1   0     0   0   37     44    3  299
4   1   0   1     2   0    7      8    0   64

[5 rows x 36 columns]
  범죄대분류  범죄중분류  아파트_연립다세대  단독주택  고속도로   노상  백화점  슈퍼마켓  편의점  대형할인매장  ...  종교기관  \
0  강력범죄   살인기수         92    57     1   43    0     0    0       0  ...     0
1  강력범죄  살인미수등        116    67     1   87    0     3    3       0  ...     1
2  강력범죄     강도         78    47     1  114    2    10   39       3  ...     1
3  강력범죄     강간       1561   976     2  127    0     0    1       0  ...     8
4  강력범죄   유사강간        247   147     0   36    0     0    2       0  ...     2

   산야  해상  부대  구금장소  공지  주차장  공중화장실  피씨방   기타
0   2   1   0     0   0    2      0    1   19
1   2   0   0     0   0    7      1    0   28
2   4   0   0     0   0   10      3    1   36
3   8   0   1     0   1   20     43    4  377
4   1   0   0     1   0   11      9    1   60

[5 rows x 36 columns]
  범죄대분류  범죄중분류  아파트_연립다세대  단독주택  고속도로   노상  백화점  슈퍼마켓  편의점  대형할인매장  ...  종교기관  \
0  강력범죄   살인기수        114    60     0   28    0     0    1       0  ...     1
1  강력범죄  살인미수등        123    85     0  105    0     1    0       1  ...     1
2  강력범죄     강도         62    46     0  141    0    12   32       1  ...     0
3  강력범죄     강간       1616   880     0  158    0     2    3       0  ...     7
4  강력범죄   유사강간        240   147     2   57    1     0    0       0  ...     2

   산야  해상  부대  구금장소  공지  주차장  공중화장실  피씨방   기타
0   3   3   0     0   0    5      0    0   17
1   3   0   0     0   0    5      2    1   33
2   3   0   0     1   0   21      1    4   30
3   9   0   1     0   1   45     48    3  560
4   5   0   0     2   0    7     12    1  111

[5 rows x 36 columns]

In [15]:
print(crime_area_20.head())
print(crime_area_21.head())
print(crime_area_22.head())

       범죄중분류    서울   부산   대구   인천   광주   대전   울산  세종  경기 고양  ...  경남 밀양  \
범죄대분류                                                        ...
강력범죄    살인기수    50   21   15   12    7    9    6   4      4  ...      0
강력범죄   살인미수등    88   30   13   25    3    9    6   4      2  ...      0
강력범죄      강도   141   38   33   45   24   14   14   2     10  ...      0
강력범죄      강간  1279  306  213  338  158  180  103  27     81  ...     11
강력범죄    유사강간   197   63   28   45   19   25   18   2     12  ...      0

       경남 사천  경남 양산  경남 진주  경남 창원  경남 통영  제주 서귀포  제주 제주  기타도시  도시이외
범죄대분류
강력범죄       2      4      4      4      0       3      5     4    21
강력범죄       6      2      1     13      0       2      4     1    44
강력범죄       0      7      8     16      2       3     11     1    33
강력범죄       9     29     37     93     13      18     77    21   298
강력범죄       4      4      7      8      1       3     15     1    53

[5 rows x 88 columns]
       범죄중분류    서울   부산   대구   인천   광주   대전   울산  세종  경기 고양  ...  경남 밀양  \
범죄대분류                                                        ...
강력범죄    살인기수    47   15   11   21    5   11    8   1      6  ...      1
강력범죄   살인미수등    76   30   13   21    4    8    7   3      7  ...      0
강력범죄      강도   122   51   23   34   13    9   10   1      2  ...      0
강력범죄      강간  1134  321  220  345  148  164  120  22     67  ...      7
강력범죄    유사강간   180   55   33   56   24   27   18   4     11  ...      0

       경남 사천  경남 양산  경남 진주  경남 창원  경남 통영  제주 서귀포  제주 제주  기타도시  도시이외
범죄대분류
강력범죄       2      1      3      3      1       2      4     2    29
강력범죄       1      2      3      8      0       1     11     1    30
강력범죄       0      4     11      5      0       4      8     1    29
강력범죄      11     17     23     87      7      23     89    13   298
강력범죄       3      2      3     13      5       7     12     0    48

[5 rows x 88 columns]
       범죄중분류    서울   부산   대구   인천   광주   대전   울산  세종  경기 고양  ...  경남 밀양  \
범죄대분류                                                        ...
강력범죄    살인기수    35   29   16   14    1    6    8   2      6  ...      1
강력범죄   살인미수등    68   24   15   38    2   11    7   3      8  ...      2
강력범죄      강도   118   43   31   30   10   17   10   2      4  ...      1
강력범죄      강간  1200  347  215  340  152  200  112  26     63  ...      6
강력범죄    유사강간   219   83   43   61   32   34   14   6     13  ...      0

       경남 사천  경남 양산  경남 진주  경남 창원  경남 통영  제주 서귀포  제주 제주  기타도시  도시이외
범죄대분류
강력범죄       2      1      2      5      0       1      3     4    19
강력범죄       0      3      1     11      1       4      4     1    43
강력범죄       1      0      0     12      5       1      4     1    28
강력범죄      12     36     41     77     19      17     78    18   375
강력범죄       2      3      2     14      4       8     13     3    52

[5 rows x 88 columns]

In [22]:
dataframes_area = [crime_area_20, crime_area_21, crime_area_22]
exclude_columns = ['범죄대분류', '범죄중분류']

# 지역별 범죄발생 건수 통합 행 추가
for df in dataframes_area:
    sum_row = df.drop(columns=exclude_columns).sum()

    for col in exclude_columns:
        sum_row[col] = None

    df.loc['sum'] = sum_row

In [23]:
crime_area_20.tail()

,범죄대분류,범죄중분류,서울,부산,대구,인천,광주,대전,울산,세종,...,경남 밀양,경남 사천,경남 양산,경남 진주,경남 창원,경남 통영,제주 서귀포,제주 제주,기타도시,도시이외
34,안보범죄,안보범죄,124.0,5.0,7.0,13.0,2.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,2.0,0.0,1.0,0.0,13.0,4.0
35,선거범죄,선거범죄,201.0,64.0,18.0,29.0,30.0,9.0,10.0,0.0,...,0.0,2.0,3.0,5.0,13.0,3.0,8.0,20.0,10.0,84.0
36,병역범죄,병역범죄,748.0,205.0,174.0,288.0,87.0,102.0,52.0,17.0,...,1.0,4.0,55.0,27.0,65.0,16.0,29.0,49.0,60.0,247.0
37,기타범죄,기타범죄,41026.0,21878.0,7875.0,15504.0,4770.0,5085.0,4288.0,867.0,...,302.0,727.0,1245.0,1103.0,4700.0,1442.0,1888.0,3354.0,3327.0,26459.0
sum,NaN,NaN,872448.0,360285.0,216513.0,273771.0,129537.0,133278.0,95502.0,18753.0,...,8391.0,11193.0,29745.0,30438.0,91566.0,16716.0,24504.0,61452.0,58776.0,312399.0

In [24]:
dataframes_place = [crime_place_20, crime_place_21, crime_place_22]
exclude_columns = ['범죄대분류', '범죄중분류']

# 지역별 범죄발생 건수 통합 행 추가
for df in dataframes_place:
    sum_row = df.drop(columns=exclude_columns).sum()

    for col in exclude_columns:
        sum_row[col] = None

    df.loc['sum'] = sum_row

In [25]:
crime_place_20.tail()

,범죄대분류,범죄중분류,아파트-연립다세대,단독주택,고속도로,노상,백화점,슈퍼마켓,편의점,대형할인매장,...,종교기관,산야,해상,부대,구금장소,공지,주차장,공중화장실,피씨방,기타
34,안보범죄,안보범죄,3.0,7.0,0.0,42.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,99.0
35,선거범죄,선거범죄,17.0,19.0,0.0,264.0,0.0,0.0,0.0,0.0,...,35.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,215.0
36,병역범죄,병역범죄,345.0,672.0,0.0,148.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,401.0,0.0,3.0,0.0,0.0,0.0,1808.0
37,기타범죄,기타범죄,17930.0,15522.0,1267.0,43020.0,94.0,687.0,1925.0,68.0,...,566.0,2842.0,24156.0,131.0,28.0,90.0,1673.0,212.0,1361.0,72740.0
sum,NaN,NaN,100386.0,79936.0,7358.0,603582.0,3471.0,12751.0,14697.0,3691.0,...,2259.0,9871.0,25483.0,733.0,119.0,253.0,27839.0,3852.0,5310.0,345399.0